* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Work Sans', arial, sans-serif;
  line-height: 1.5;
  color: #333333;
}
a { 
  text-decoration: none;
  color: #333;
}
img{
  display:block;
  max-width: 100%;
}

/* Navigation */
.nav {
  font-family: Futura, Arial, Helvetica, sans-serif;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__link {
  font-size: 1.5rem;
  list-style-type: none;
  padding-right: 5em; 
}
.menu__link:hover {
  color: #DFA4D7;
  text-decoration: underline;
}
.nav__logo {
  font-size: 3.75rem;
  display: flex;
  align-items: center;
}
#logo {
  max-width: 8rem;
  padding: .5rem;
}
/* Banner Styles */
.banner {
  display: flex;
  padding: 1rem 5rem;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #DFA4D7;
  font-size: 1.25rem;
}
.banner__photo { 
  min-width: 200px;
  max-width: 600px;
}
.banner__intro {
  margin: 3em 0;
  max-width: 40vw;
}
.banner__intro > h1 { 
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-size: 3em;
  letter-spacing: .025em;
  padding-bottom: .5em;
}
.special {
  color: white;
  font-style: italic;
}

/* Banner and Form Buttons */
.btn {
  display: block;
  margin-top: 4rem;
  width: 400px;
}
button { 
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 300px;
  border-radius: .25em;
  background-color: #2A3141;
  color: white;
  font-size: 16px;
  padding: 1em 2em;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4); 
}
button:hover { 
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  top: 2px;
}
button:active {
  box-shadow: none;
  top: 6px;
}
.banner__btn { 
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 1.5em;
  border-radius: .25em;
  background-color: #2A3141;
  color: white;
  font-size: 1rem;
  padding: 1em 2em;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4); 
}
.banner__btn:hover { 
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  top: 2px;
}
.banner__btn:active {
  box-shadow: none;
  top: 6px;
}

/* Project Cards */
.section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.section__header {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.card-set {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1270px;
}
article.card {
  margin-left: 5rem;
  margin-bottom: 5rem;
  flex: 0 1 450px;
}
article.card img {
  object-fit: cover;
  max-width: 100%;
}
article.card > a:hover {
  color: #DFA4D7;
}
.card__header {
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: .75em 0;
  text-transform: uppercase;
}

/* Contact Form */
.contact-description > p {
  max-width: 550px;
}
#contactForm {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-top: 5rem;
}

#contactForm > label {
  font-family: Futura, sans-serif;
}

input, textarea {
  background-color: #D4D6D4;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  min-width: 300px;
  max-width: 600px;
  font-family: 'Work Sans', arial, sans-serif;
}

/* Footer */
footer {
  margin-top: 3rem;
  border-top: 1px solid #333;
  display: grid;
  place-items: center;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
}
.footer__nav > li {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 2rem 1.75rem;
  flex: 1 1 auto;
  text-align: left;
}

li > a:hover {
  color: #DFA4D7;
  text-decoration: underline;
}

/* Projects Page */
.grid-section {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
.grid-section > h2 {
  background-color: #DFA4D7;
  color: white;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 5rem;
}
.grid-section > .card-set {
  padding: 0 2rem;
}
.project__image {
  max-width: 95%;
  margin: 2rem 0; 
}

/* Article Page Styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.container > h1 {
  background-color: #DFA4D7;
  color: white;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
}
.container > h2 {
  margin-top: 3rem;
}
.container > p, ul {
  padding: 1.5rem 3rem;
  max-width: 800px;
}
.project-details > li {
  list-style-type: none;
  padding:1.2em 0;
}
.my-role {
  background-color: #DFA4D7;
  color: white;
  border-radius: 10px;
  margin-top: .5rem;
  font-family: Futura, sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 3rem;
}
.my-role > li {
  padding: .75em 0;
}
.project-nav {
  align-self: flex-end;
  color: #2A3141;
  text-decoration: underline;
  margin: 4em 25vw;
}
.active {
  border-bottom: 6px solid #DFA4D7;
}

/* MENU */
#menu {
  max-width: 33em;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.5em;
}
.menu > li {
  padding-bottom: 1rem;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  .container {
    padding: 0;
  }
  .container > p, ul {
    max-width: 90%;
  }
  #cat {
    padding-top: 2rem;
  }
}
@media (max-width: 600px) {
  .nav {
    padding: 2rem;
  }
  .nav__logo {
    font-size: 1.8rem;
  }
  .menu__link {
    font-size: 1rem;
    position: relative;
    padding: 0;
    align-self: flex-start;
  }
  .section {
    padding: 1rem 3rem;
  }
  .banner {
    padding: 1rem 3rem;
  }
  .banner__photo { 
    max-width: 80%;
  }
  .banner__intro {
    max-width: 550px;
  }